$fontStack:    Helvetica, sans-serif;
$primaryColor: #333;

body {

  font-family: $fontStack;
  color: $primaryColor;
  font-size:18px;
  background-color: red;
  padding:0;
  margin:0;
  border:1px solid blue;
  border-radius:5px;
  opacity:0.9;
  display: flex;
  position:absolute;
  text-align: 2rem;
  font-size:20px;

  
}