<!-- 登录页面片段 -->
<div ui-view="login" class="container" ng-controller='loginCtrl'>
    <div style="width:440px;margin:0 auto;margin-top:140px;">
        <div class="col-sm-9 col-sm-offset-3" style='padding-bottom:40px;'>
            <h1 class="text-center">学习网用户登录</h1>
        </div>
        <form class="form-horizontal" ng-submit="login()">
            <div class="form-group">
                <label for="" class='col-sm-3 control-label'>帐 号：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请输入帐号" ng-model="formData.userName">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">密 码：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="请输入密码" ng-model="formData.userPwd">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="checkbox">
                        <label for="">
                            <input type="checkbox" ng-model="formData.remember">记住我
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class='btn btn-primary btn-block'>登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
