doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/dist/css/app.css')
    link(rel='stylesheet', href='/dist/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/dist/lib/jquery/jquery.min.js')
    script(src='/dist/lib/bootstrap/js/bootstrap.min.js')
  body
    block content
